:root{
    --col0:black;
    --col1:#AA77FF;
    --col2:#C9EEFF;
    --col3:#97DEFF;
    --col4:#62CDFF;
}


header{

    height: 100px;

     background-color: rgb(255, 255, 255, 0.3) ;
     text-align: center;
     box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.menuu{
    align-items: center;
}

h1{
    color: var(--col0);
    font-family:fantasy;  
   
}

body { 
    background-color: #854d27;
    opacity: 0.9;
    background-image:  radial-gradient(#dd7230 2px, transparent 2px), radial-gradient(#dd7230 2px, #854d27 2px);
    background-size: 100px 100px;
    background-position: 0 0,50px 50px;
  }
  

a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.menu:hover{
    
    
    align-items: center;
    background-color: rgb(255, 255, 255, 0.24);
    transition: 500ms;
}
.kep{
    margin-top: 1%;
    height: 400px;
    max-height: 300px;
    
border-radius: 100px 100px 350px 100px;
max-height: 100%;
min-width: 100%;
object-fit: cover;
vertical-align: bottom;
box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.5) 0px 6px 6px;

}

@media (max-width: 800px) {
    .kep{
       
        height: 150px;  
    }
    header{
        height: 150px;
    }
     .dot{
        height: 20px;
        width: 20px;
        margin-top: -300px;
     }
        .card{
            margin-top: -5%;
        }
     
 
  }
 
.card2{
  margin-left: 3%;
height: 35vh;
width: 25vh;
background-color: #c1853b;
margin-bottom: 30px;
text-align: center;
border-radius: 20px;
}
.card2:hover{

background-color: rgba(193, 113, 59, 0.8);
transition: 500ms;

}
.cardimg{
height: 20vh;
width: 20vh;


}
.nyil{
  height: 50px;
  width: 50px;
 
}
  .dot {
    
    cursor: pointer;
    height: 3vh;
    width: 3vh;
    margin: 20px 2px;
    background-color: #bbb;
    border-radius: 50%;
    margin-top: -60vh;
    display: inline-block;
    transition: background-color 0.6s ease;


  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .card{
    top: -30px;
    background-color: #c1853b;
    height: 20vh;
    width: 50vh;
  
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .x{
    height: 5vh;
    width: 5vh;
    position: absolute;
    align-items:end
  }
 
 

  input{
    border-radius:10px
  }



  .elem {
    position: relative;
    top: 0;
    animation: fel 1s forwards;
  }
  .elemm {
    position: relative;
    top: 0;
    animation: le 1s forwards;
  }
  
  @keyframes fel {
    to {

      top: -10vh;
      top: 10px;
    }
  }
  @keyframes le {
    to {
      
      top: 130px;
    }
  }
